*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  src: url(../assets/fonts/Inter-Regular.ttf);
  font-family: "Inter-Regular";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/Inter-Bold.ttf);
  font-family: "Inter-Bold";
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url(../assets/fonts/LexendDeca-Regular.ttf);
  font-family: "LexendDeca-Regular";
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.7;
  color: #ffffff;
}

.container {
  width: min(100%, 20.4375rem);
  margin-inline: auto;
}
@media (min-width: 64.0625rem) {
  .container {
    width: min(100%, 69.375rem);
  }
}

.stats-preview {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #0a0c1c;
  padding: 5.5rem 1.5rem;
}
.stats-preview__grid {
  display: grid;
  grid-template-columns: auto;
}
@media (min-width: 64.0625rem) {
  .stats-preview__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.stats-preview__item--content {
  order: 2;
  padding: 2.5rem 2rem;
  text-align: center;
  background-color: #1b1937;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media (min-width: 64.0625rem) {
  .stats-preview__item--content {
    order: 1;
    text-align: left;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    padding: 4.5rem;
  }
}
.stats-preview__title {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.75rem;
  line-height: 1.2;
}
@media (min-width: 64.0625rem) {
  .stats-preview__title {
    font-size: 2.25rem;
  }
}
.stats-preview__title-highlighted-text {
  color: #ab5cdb;
}
.stats-preview__copy {
  margin-top: 1rem;
}
@media (min-width: 64.0625rem) {
  .stats-preview__copy {
    max-width: 23.4375rem;
  }
}
.stats-preview__stats-details {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
@media (min-width: 64.0625rem) {
  .stats-preview__stats-details {
    grid-template-columns: repeat(3, max-content);
    gap: 3.9375rem;
    margin-top: 4.5rem;
  }
}
.stats-preview__stats-count {
  font-size: 1.5rem;
  font-family: "Inter-Bold", sans-serif;
}
.stats-preview__stats-title {
  font-size: 0.75rem;
  font-family: "LexendDeca-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.stats-preview__item--img {
  order: 1;
}
@media (min-width: 64.0625rem) {
  .stats-preview__item--img {
    height: 100%;
    order: 2;
  }
}
.stats-preview__top-pic {
  background-color: #ab5cdb;
}
@media (min-width: 64.0625rem) {
  .stats-preview__top-pic {
    height: 100%;
  }
}
.stats-preview__top-img {
  mix-blend-mode: multiply;
  opacity: 0.85;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
@media (min-width: 64.0625rem) {
  .stats-preview__top-img {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
